@import "./common";

body{
  background-color: lightgray;
}
#app{
  background-color: white;
  margin-top: 80px;
  padding:20px;
}

.Store{
  display: flex;

  .ShopFloor{
    flex-grow: 2;
  }
}

$storeHeight:500px;
$sideSectionsWidth:200px;

.GameController{
  //border: 1px solid blue;
  width: $sideSectionsWidth;
  text-align: center;
  padding: 10px;
  >button{
    padding: 10px;
    background-color: orange;
    border:none;
    font-size: 14px;
    color: white;
    font-weight:600;
    border-radius: 4px;
    cursor: pointer;
  }
}


.ShopFloor{
  position: relative;
  border: 1px solid lightgray;
  width: $sideSectionsWidth;
  min-height: $storeHeight;
}

.FruitStand{
  position: relative;
  border: 1px solid lightgray;
  border-right:none;
  width: $sideSectionsWidth;
  min-height: $storeHeight;
  background-image: url("assets/images/fruitStand.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .OfferPanel{
    //border: 1px "solid green;
    min-height: 40px;
  }
}

.CashierStand{
  position: relative;
  border: 1px solid lightgray;
  border-left: none;
  width: $sideSectionsWidth;
  min-height: $storeHeight;
  background-image: url("assets/images/cashierStand.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .receiptList{
    position: absolute;
    //border: 1px solid red;
    width: 100%;
    height: 155px;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow: auto;

    .Receipt{
      font-size: 13px;

      margin: 2px;
      padding:2px;
      background-color: lightyellow;
      border:1px solid lightblue;
      height: auto;
      width: auto;
      cursor: pointer;
      > header{
        display: none;
      }

      .total{
        margin-top: 0;
        border: none;
      }

      section.offers,
      section.subTotal,
      section.shoppingList{
        display: none;
      }

      &:hover{
        background-color: lightblue;
      }

    }
  }


}

.Cart{
  position: absolute;
  margin: 10px;
  width: 40px;
  height: 40px;
  background-image: url("assets/images/charts.png");
  background-repeat: no-repeat;
  background-size: contain;

  &.disabled{
    opacity: .5;
  }

  .AddItem{
    display: none;
    position: absolute;
    bottom:-40px;
    right: 0;
    //width:20px;
    //height:20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &:after{
      content: "check out";
      display: inline-block;
    }
  }

  .CheckOut{
    display: none;

    position: absolute;
    bottom:-20px;
    left: 0;

    width: 100px;
    padding: 5px;
    background-color: orangered;
    color: white;
    border: 2px solid lightsalmon;
    border-radius: 5px;
  }
}

.Offer{
  font-size: 13px;
  margin: 4px;
  padding: 5px;
  background-color: #3181d6;
  color: #f7d82d;
  font-weight: 600;
  border-radius: 4px;
}

.FruitDisplay{
  //border: 1px solid lightblue;
  min-height: 40px;
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom:94px;
  background-color: white;
}

.Fruit{
  display: inline-block;
  width: 40px;
  height: 40px;
  border:1px solid lightgray;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 3px;
  cursor: move;
  &.Papaya{
    background-image: url("assets/images/papaya.jpg");
  }
  &.Orange{
    background-image: url("assets/images/orange.png");
  }
  &.Garlic{
    background-image: url("assets/images/garlic.jpg");
  }
  &.Apple{
    background-image: url("assets/images/apple.jpeg");
    background-size: 25px 30px;
  }

}

.Receipt{
  width: 100%;
  height: 100%;

  >header{

  }
  .shoppingList{
    margin-top: 22px;
    ul{
      li{
        span{
          display: inline-block;
        }
        display: flex;
        .itemName{
          flex-grow: 2;
          text-align: center;
        }

        .quantity{
          &:after{
            content: "@";
            display: inline-block;
            margin: 1px;
          }
          &:before{
            content: "x";
            font-size: smaller;
            display: inline-block;
            margin: 1px;
          }
        }



      }
    }
  }

  section.total,
  section.subTotal{
    border-top: 1px dashed lightgray;
    margin-top: 10px;
    margin-bottom: 4px;
    >div{
      display: flex;
      >span{
        display: inline-block;
        &.priceGrp{
          flex-grow: 2;
          text-align: right;
        }
      }
    }
  }

  footer{
    .receiptDate{
      display: flex;
      >span{
        flex-grow: 1;
        text-align: center;
      }
    }
  }

  section.total{
    .priceGrp{
      font-weight: 600;
    }
  }

  section.offers{

    ul > li{
      display: flex;
      .msg{
        margin-left: 2px;
        margin-right: 2px;
      }
    }

  }

  .currencySymbol{
    margin-left: 3px;
  }


}

.modalScreen{
  position: absolute;
  top:0;
  left: 0;
  bottom:0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.receiptFrame{
  font-size: 14px;
  position: relative;
  background-color: white;
  width: 240px;
  min-height: 450px;
  margin:auto;
  margin-top: 100px;
  padding: 10px;
  box-shadow: 3px 3px 4px gray;

  $size:30px;
  button{
    position: absolute;
    background-color: firebrick;
    font-weight: 600;
    color: white;
    top:-10px;
    right: -10px;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
  }

}