* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  padding: 5px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 12pt;
  font-weight: 600; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.horizontalLayout {
  display: flex;
  flex-direction: row; }

body {
  background-color: lightgray; }

#app {
  background-color: white;
  margin-top: 80px;
  padding: 20px; }

.Store {
  display: flex; }
  .Store .ShopFloor {
    flex-grow: 2; }

.GameController {
  width: 200px;
  text-align: center;
  padding: 10px; }
  .GameController > button {
    padding: 10px;
    background-color: orange;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer; }

.ShopFloor {
  position: relative;
  border: 1px solid lightgray;
  width: 200px;
  min-height: 500px; }

.FruitStand {
  position: relative;
  border: 1px solid lightgray;
  border-right: none;
  width: 200px;
  min-height: 500px;
  background-image: url("assets/images/fruitStand.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .FruitStand .OfferPanel {
    min-height: 40px; }

.CashierStand {
  position: relative;
  border: 1px solid lightgray;
  border-left: none;
  width: 200px;
  min-height: 500px;
  background-image: url("assets/images/cashierStand.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .CashierStand .receiptList {
    position: absolute;
    width: 100%;
    height: 155px;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow: auto; }
    .CashierStand .receiptList .Receipt {
      font-size: 13px;
      margin: 2px;
      padding: 2px;
      background-color: lightyellow;
      border: 1px solid lightblue;
      height: auto;
      width: auto;
      cursor: pointer; }
      .CashierStand .receiptList .Receipt > header {
        display: none; }
      .CashierStand .receiptList .Receipt .total {
        margin-top: 0;
        border: none; }
      .CashierStand .receiptList .Receipt section.offers,
      .CashierStand .receiptList .Receipt section.subTotal,
      .CashierStand .receiptList .Receipt section.shoppingList {
        display: none; }
      .CashierStand .receiptList .Receipt:hover {
        background-color: lightblue; }

.Cart {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("assets/images/charts.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .Cart.disabled {
    opacity: .5; }
  .Cart .CheckOut {
    display: none;
    position: absolute;
    bottom: 4px;
    right: -70px;
    border-radius: 4px;
    border: none;
    cursor: pointer; }
    .Cart .CheckOut:after {
      content: "check out";
      display: inline-block; }

.Offer {
  font-size: 13px;
  margin: 4px;
  padding: 5px;
  background-color: #3181d6;
  color: #f7d82d;
  font-weight: 600;
  border-radius: 4px; }

.FruitDisplay {
  min-height: 40px;
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 94px;
  background-color: white; }

.Fruit {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 3px;
  cursor: move; }
  .Fruit.Papaya {
    background-image: url("assets/images/papaya.jpg"); }
  .Fruit.Orange {
    background-image: url("assets/images/orange.png"); }
  .Fruit.Garlic {
    background-image: url("assets/images/garlic.jpg"); }
  .Fruit.Apple {
    background-image: url("assets/images/apple.jpeg");
    background-size: 25px 30px; }

.Receipt {
  width: 100%;
  height: 100%; }
  .Receipt .shoppingList {
    margin-top: 22px; }
    .Receipt .shoppingList ul li {
      display: flex; }
      .Receipt .shoppingList ul li span {
        display: inline-block; }
      .Receipt .shoppingList ul li .itemName {
        flex-grow: 2;
        text-align: center; }
      .Receipt .shoppingList ul li .quantity:after {
        content: "@";
        display: inline-block;
        margin: 1px; }
      .Receipt .shoppingList ul li .quantity:before {
        content: "x";
        font-size: smaller;
        display: inline-block;
        margin: 1px; }
  .Receipt section.total,
  .Receipt section.subTotal {
    border-top: 1px dashed lightgray;
    margin-top: 10px;
    margin-bottom: 4px; }
    .Receipt section.total > div,
    .Receipt section.subTotal > div {
      display: flex; }
      .Receipt section.total > div > span,
      .Receipt section.subTotal > div > span {
        display: inline-block; }
        .Receipt section.total > div > span.priceGrp,
        .Receipt section.subTotal > div > span.priceGrp {
          flex-grow: 2;
          text-align: right; }
  .Receipt footer .receiptDate {
    display: flex; }
    .Receipt footer .receiptDate > span {
      flex-grow: 1;
      text-align: center; }
  .Receipt section.total .priceGrp {
    font-weight: 600; }
  .Receipt section.offers ul > li {
    display: flex; }
    .Receipt section.offers ul > li .msg {
      margin-left: 2px;
      margin-right: 2px; }
  .Receipt .currencySymbol {
    margin-left: 3px; }

.modalScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2); }

.receiptFrame {
  font-size: 14px;
  position: relative;
  background-color: white;
  width: 240px;
  min-height: 450px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  box-shadow: 3px 3px 4px gray; }
  .receiptFrame button {
    position: absolute;
    background-color: firebrick;
    font-weight: 600;
    color: white;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    vertical-align: middle; }

.StandingArea {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99; }
  .StandingArea.FRUIT_STAND {
    top: 147px;
    bottom: 154px;
    left: 0;
    border: 1px dashed orange;
    width: 63px; }
  .StandingArea.CASHIER {
    top: 231px;
    bottom: 154px;
    right: -80px;
    width: 63px;
    height: 50px; }

.StandingSpot {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 5px; }

/*# sourceMappingURL=main.css.map */
